*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #FFFFFF;
  color: #000000;
}

.container {
  margin: 0 auto;
}
@media screen and (max-width: 1353px) {
  .container {
    max-width: 1352px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1354px) {
  .container {
    max-width: 1353px;
  }
}

@media screen and (max-width: 1353px) {
  .page-header {
    width: 375px;
    display: flex;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1353px) {
  .hamburger, .header__menu-btn {
    font-size: 20px;
    width: 0;
    transform: translateX(0);
    transition: transform 0.5s;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1354px) {
  .hamburger, .header__menu-btn {
    display: none;
  }
}

@media screen and (max-width: 1353px) {
  nav {
    display: none;
  }
}

@media screen and (max-width: 1353px) {
  .sell-more {
    width: 375px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1353px) {
  .content {
    margin: 32px;
  }
}

@media screen and (max-width: 1353px) {
  .title {
    font-size: 35px;
  }
}

@media screen and (max-width: 1353px) {
  .subtitle {
    margin: 30px;
  }
}

@media screen and (max-width: 1353px) {
  .title-btn {
    padding: 13px 92px;
  }
}

@media screen and (max-width: 1353px) {
  .sell-image {
    height: 200px;
    margin-bottom: 0;
    background-size: cover;
  }
}

@media screen and (max-width: 1353px) {
  .stats .container {
    width: 375px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

@media screen and (max-width: 1353px) {
  .article-title {
    font-size: 30px;
    margin: 0 36px;
  }
}

@media screen and (max-width: 1353px) {
  .article {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1353px) {
  .article-single {
    margin-bottom: -80px;
  }
}

@media screen and (max-width: 1353px) {
  .ads .container {
    width: 375px;
    padding: 0;
    height: 1250px;
  }
}
@media screen and (max-width: 1353px) {
  .ads .container .content-first {
    padding: 0;
  }
}
@media screen and (max-width: 1353px) {
  .ads .container .first {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 314px;
    margin-left: 30px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 1353px) and (max-width: 1353px) {
  .ads .container .first .underline-first {
    display: none;
  }
}
@media screen and (max-width: 1353px) and (max-width: 1353px) {
  .ads .container .first .content-image-first {
    height: 120px;
    padding: 0;
    padding-top: 10px;
  }
}
@media screen and (max-width: 1353px) and (max-width: 1353px) {
  .ads .container .first .content-photo-first {
    height: 100px;
    width: 180px;
    top: 0;
  }
}
@media screen and (max-width: 1353px) and (max-width: 1353px) {
  .ads .container .first .rectangle-first {
    height: 90px;
    width: 90px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 60px;
    margin-top: -10px;
  }
}

@media screen and (max-width: 1353px) {
  .second {
    flex-direction: column-reverse;
    display: flex;
    width: 314px;
    margin-left: 30px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 1353px) {
  .content-second {
    padding: 0px 0px 0px 36px;
  }
}

@media screen and (max-width: 1353px) {
  .content-image-second {
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

@media screen and (max-width: 1353px) {
  .content-photo-second {
    height: 100px;
    width: 120px;
    top: 0px;
  }
}

@media screen and (max-width: 1353px) {
  .circle-second {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 1353px) {
  .underline-second {
    display: none;
  }
}

@media screen and (max-width: 1353px) {
  .third {
    flex-direction: column;
    display: flex;
    width: 314px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 1353px) {
  .content-third {
    padding: 0;
    width: 314px;
    text-align: left;
    padding-top: 20px;
  }
}

@media screen and (max-width: 1353px) {
  .underline-third {
    display: none;
  }
}

@media screen and (max-width: 1353px) {
  .content-photo-third {
    width: 100%;
  }
}

@media screen and (max-width: 1353px) {
  .content-image-third {
    width: 100%;
    margin: 0;
    height: 170px;
    align-items: normal;
    padding-top: 20px;
    padding-right: 20px;
  }
}
/*# sourceMappingURL=main.css.map */
