*{
    box-sizing: border-box;
}
body{
    font-family: Open Sans;
}

.container {
    margin: 0 auto;
    width: 1352px;
}
header{
    height: 70px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    margin-bottom: 130px;
}
.page-header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-logo {
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    color: #08A6E4;
}
.page-nav-list {
    display: flex;
}
.page-nav-list li {
margin: 25px;
}
.page-nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: #A5A5A5;
    font-weight: bold;
}
.page-nav-list a:hover {
    color: #000000;
    border-color: #08A6E4;
}
.nav-under{
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
    padding: 28px 18px 22px;

}

section .sell-more{
    height: 712px;
    background-size: cover;
    background-position: center;
}
.sell-more .container{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sell-image{
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}
.title{
    text-align: center;
    font: normal normal normal 49px/57px Raleway;
    color: #000000;
    margin-bottom: 20px;
}
.subtitle{
    text-align: center;
    text-align: center;
    font: normal normal normal 16px/22px "Open Sans";
    color: #000000;
    margin-bottom: 38px;
}
.title-btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font: normal normal normal 16px/22px "Open Sans";
    color: #FFFFFF;
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    padding: 22px 155px;
}

article{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}
.article-title{
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    Color: #000000;
    margin-bottom: 100px;
}
.article-single{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: Raleway;
}
.article-photo-img{
    margin-top: 10px;
}

.article-circle{
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: absolute;
    background-color: #08A6E4;
}
.article-photo-img{
position: absolute;
}
.article-numbers{
    text-align: center;
    font:normal normal 800 20px/24px Raleway;
    color: #000000;
    padding: 20px;
    margin-top: 50px;
}
.article-text{
    text-align: center;
    font:normal normal 17px/20px Raleway;
    color: #A5A5A5;
    margin-bottom: 121px;
}
.article-single:nth-child(1) .article-circle{
    background-color: #FB3B64;
}
.article-single:nth-child(3) .article-circle{
    background-color: #55DFB4;
}
.ads{
    padding: 100px 0;
    background: 0% 0% no-repeat padding-box;
    background-color: #cccccc8c;

}
.ads .container{
    padding: 0 100px;
}
.first {
    height: 370px;
    display: flex;
    border: 1px solid #E8E9ED;
    margin-bottom: 37px;
    border-radius: 5px;
    background: #FFFFFF;
    justify-content: space-between;
    align-items: flex-end;
}
.title-first {
    text-align: left;
    font: normal normal normal 35px/42px Raleway;
    padding:  0px 0px 30px 36px;
}
.text-first {
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    padding: 0 35px 30px 30px;
}
.content-photo-first{
    width: 386px;
    height: 219px;
    position: relative;
    top:-40px;
}
.content-photo-first img{
    position: relative;
    display: block;
    z-index: 2;
}
.content-image-first{
    display: flex;
}
.underline-first{
    border: 4px solid #Fb3B64;
    background-color: #FB3B64;
    width: 328px;
    height: 4px;
    margin-left: 35px;
    margin-bottom: 91px;
}
.rectangle-first{
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background:  #FB3B64 0% 0% no-repeat padding-box;
    border-radius: 41px;
    position: absolute;
    z-index: 1;
    margin-top:-90px;
}

.second {
    display: flex;
    height: 370px;
    border: 1px solid #E8E9ED;
    margin-bottom: 37px;
    border-radius: 5px;
    background: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.title-second {
    text-align: left;
    font: normal normal normal 35px/42px Raleway;
    padding: 0 35px 30px 0;
}
.text-second{
    display: inline-block;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    padding:  0 35px 30px 0;
}
.underline-second {
    border: 4px solid #08A6E4;
    background-color: #08A6E4;
    width: 328px;
    height: 4px;
    margin-right: 35px;
}
.content-photo-second{
    width: 386px;
    height: 219px;
    position: relative;
}
.content-photo-second img{
    position: relative;
    z-index: 2;
    display: inline-block;
}
.content-image-second{
    display: flex;
}
.circle-second {
    width: 320px;
    height: 320px;
    background: #07ACE6 0% 0% no-repeat padding-box;
    border-radius: 50%;
    position: absolute;
    margin-top: -50px;
    z-index: 1;
    display: block;
}
.third{
    background: #55DFB4;
    display: flex;
    height: 370px;
}
.third > div{
    margin-bottom: 0;
}
.content-third-solo{
    max-width: 620px;
    background: #FFFFFF;
    margin-right: 60px;
}
.content-third .third-texts{
    max-width: none;
    margin: 70px 35px;
}

.content-photo-third{
    flex-grow:1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 60px;
    width: 295px;
    height: 370px;
    margin-top:55px;
}
.title-third {
    text-align: left;
    font: normal normal normal 35px/42px Raleway;
    padding:  0px 0px 30px 36px;
}
.text-third {
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    padding: 0 35px 30px 30px;
}
.underline-third{
    border: 4px solid #55DFB4;
    background-color: #55DFB4;
    width: 328px;
    height: 4px;
    margin-left: 35px;
    margin-bottom: 91px;
}

h2{
    font: normal normal normal 36px/42px Raleway;
}
.pricing{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.pricing-box{
    width: 370px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FB3B64;
}
.pricing-details{
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}
.pricing-type{
    font: normal normal bold 20px/1px "Raleway";
    margin-bottom: 14px;
}
.pricing-price{
    font: normal normal 300 46px/2px "Open Sans";
    color: #FB3B64;
    padding: 35px;
}
.pricing-limited{
    text-align: center;
    margin-top: 15px;
    font: normal normal bold 12px/1px Raleway;
    color: #13253B;
}
.pricing-items{
    text-align: center;
}
.pricing-item{
    font-size: 14px;
    margin-bottom: 20px;
}
.pricing-item::before{
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../images/Ckechmark-1.svg");
}
.pricing-item-not::before{
    background-image: url("../images/Close.svg");
}
.btn{
    padding: 16px 64px;
    background: #EB476E 0% 0% no-repeat padding-box;
    border-radius: 23px;
}
.pricing-box .btn{
    position: relative;
    bottom: -25px;
    font: normal normal bold 13px/41px "Open Sans";
    text-decoration: none;
    color: #FFFFFF;

}
.pricing-box-basic{
    --accent-color: #EB476E;
}
.pricing-box-basic .pricing-price{
    margin-bottom: 30px;

}
.pricing-box-professional{
    border-color: #07ACE6;
    height: 500px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px;

}
.pricing-box-professional .pricing-type{
    font: normal normal bold 21px/1px Raleway;
}
.pricing-box-professional .pricing-price{
    color: #07ACE6;
}
.pricing-box-professional .btn{
    color: #FFFFFF;
    background-color: #07ACE6;
    margin-top: 30px;
}
.pricing-box-premium .pricing-price{
    color: #55DFB4;
}
.pricing-box-premium .btn{
    color: #FFFFFF;
    background-color: #55DFB4;
}
.pricing-box-professional .pricing-item{
    margin-bottom: 25px;
}
.pricing-box-premium{
    border-color:#55DFB4;
}