*{
    box-sizing: border-box;
}
body{
    font-family: Open Sans;
}

.container {
    margin: 0 auto;
    width: 1352px;
}
header{
    height: 70px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    margin-bottom: 130px;
}
.page-header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-logo {
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    color: #08A6E4;
}
.page-nav-list {
    display: flex;
}
.page-nav-list li {
margin: 25px;
}
.page-nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: #A5A5A5;
    font-weight: bold;
}
.page-nav-list a:hover {
    color: #000000;
    border-color: #08A6E4;
}
.nav-under{
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
    padding: 28px 18px 22px;

}

section .sell-more{
    height: 712px;
    background-size: cover;
    background-position: center;
}
.sell-more .container{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sell-image{
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}
.title{
    text-align: center;
    font: normal normal normal 49px/57px Raleway;
    color: #000000;
    margin-bottom: 20px;
}
.subtitle{
    text-align: center;
    text-align: center;
    font: normal normal normal 16px/22px "Open Sans";
    color: #000000;
    margin-bottom: 38px;
}
.title-btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font: normal normal normal 16px/22px "Open Sans";
    color: #FFFFFF;
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    padding: 22px 155px;
}

article{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}
.article-title{
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    Color: #000000;
    margin-bottom: 100px;
}
.article-single{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: Raleway;
}
.article-photo-img{
    margin-top: 10px;
}

.article-circle{
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: absolute;
    background-color: #08A6E4;
}
.article-photo-img{
position: absolute;
}
.article-numbers{
    text-align: center;
    font:normal normal 800 20px/24px Raleway;
    color: #000000;
    padding: 20px;
    margin-top: 50px;
}
.article-text{
    text-align: center;
    font:normal normal 17px/20px Raleway;
    color: #A5A5A5;
}
.article-single:nth-child(1) .article-circle{
    background-color: #FB3B64;
}
.article-single:nth-child(3) .article-circle{
    background-color: #55DFB4;
}

