.ads .container {
  @include phone {
    width: $mobile-menu-width;
    padding: 0;
    height: 1250px;
  }

    .content-first {
      @include phone {
        padding: 0;
      }
    }

    .first {
      @include phone {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 314px;
        margin-left: 30px;
        padding-top: 30px;

        .underline-first {
          @include phone {
            display: none;
          }
        }

        .content-image-first {
          @include phone {
            height: 120px;
            padding: 0;
            padding-top: 10px;
          }
        }

        .content-photo-first {
          @include phone {
            height: 100px;
            width: 180px;
            top: 0;
          }
        }

        .rectangle-first {
          @include phone {
            height: 90px;
            width: 90px;
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            border-radius: 60px;
            margin-top: -10px
          }
        }
      }
    }
  }
.second {
  @include phone {
    flex-direction: column-reverse;
    display: flex;
    width: 314px;
    margin-left: 30px;
    padding-top: 30px;
  }
}
.content-second{
  @include phone{
   padding: 0px 0px 0px 36px;

  }
}
.content-image-second {
  @include phone {
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.content-photo-second {
  @include phone {
    height: 100px;
    width: 120px;
    top: 0px;
  }
}
.circle-second {
  @include phone {
    width: 100px;
    height: 100px;
  }
}
.underline-second {
  @include phone {
    display: none;
  }
}
.third{
  @include phone{
    flex-direction: column;
    display: flex;
    width: 314px;
    margin-left: 30px;
  }
}
.content-third{
  @include phone{
    padding: 0;
    width: 314px;
    text-align: left;
    padding-top: 20px;
  }
}
.underline-third {
  @include phone {
    display: none;
  }
}
.content-photo-third {
  @include phone {
    width: 100%
  }
}
.content-image-third {
  @include phone {
    width: 100%;
    margin: 0;
    height: 170px;
    align-items: normal;
    padding-top: 20px;
    padding-right: 20px;
  }
}